html {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    display: flex;
    background-color: #332550;
    margin: 0;
    padding: 0;
    place-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-contacto {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.contact-title {
    margin: 10px;
    position: relative;
    top: -290px;
    font-size: 1.5rem;
    width: auto;
    height: auto;
    font-weight: 800;
    color: #33305D;
    background-color: #d9bd59;
    padding: 15px;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    place-items: center;
}

@media (max-width: 1024px) {
    .contact-title {
        display: none;
        top: 10px;
        font-size: 1rem;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .contact-title {
        top: 130px;
        font-size: 1rem;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .contact-title {
        font-size: 1rem;
        padding: 12px;
    }
}

@media (max-width: 400px) {
    .contact-title {
        display: block;
    }
}

.contact-title2 {
    display: none;
    margin: 10px;
    position: relative;
    top: -235px;
    font-size: 1.5rem;
    width: auto;
    height: auto;
    font-weight: 800;
    color: #33305D;
    background-color: #d9bd59;
    padding: 15px;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    place-items: center;
}

@media (max-width: 450px) {
    .contact-title2 {
        display: flex;
        top: 10px;
        font-size: 1.2rem;
        padding: 10px;
    }
}

.main2 {
    display: flex;
    width: 80vw;
    height: 92vh;
    justify-content: center;
    align-items: center;
    place-items: center;
    border-radius: 30px;
}

@media (max-width: 768px) {
    .main2 {
        width: 98vw;
        height: 98vh;
    }
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 79.5vw;
    height: 91vh;
    background-color: #6B4FA9;
    border-radius: 30px;
    justify-items: center;
    align-items: stretch;
    place-items: center;
}

@media (max-width: 1024px) {
    .container2 {
        grid-template-columns: 1fr;
        width: 79vw;
        height: 91vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .container2 {
        width: 96vw;
        height: 97vh;
    }
}

.content2 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    place-content: center;
}

#formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    justify-content: center;
    place-items: justify;
    flex-grow: 1;
    padding: 0 40px;

}

@media (max-width: 1024px) {
    #formulario {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    #formulario {
        padding: 20px;
    }
}

@media (max-width: 576px) {
    #formulario {
        padding: 10px;
        width: 80vw;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

label {
    color: #FFFFFF;
    font-size: 1.2rem;
}
#descripcion,
#cantidad,
#precio,
#proveedorProducto {
    font-size: 18px;
    font-weight: 600;
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px 10px;
    background: none;
    border: 2px solid white;
    background-color: #D7D4DF;
    color: #6B4FA9;
    border-radius: 30px;
    transition: border-color .25s ease, box-shadow .25s ease;
    box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0.329);
}
#imagenProducto {
margin-bottom: 10px;
color: #FFFFFF;
}



#descripcion:focus,
#cantidad:focus,
#precio:focus,
#imagenProducto:focus,
#proveedorProducto:focus {
    outline: 0;
    border-color: #ab58f8;

}

@media only screen and (max-width: 1024px) {

    #descripcion,
    #cantidad,
    #precio,
    #imagenProducto,
    #proveedorProducto {
        font-size: 15px;
        padding: 10px 15px;
    }
}


/* button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1em;
    background: #f1eef7;
    color: #6B4FA9;
    transition: all 0.5s ease;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
}
@media only screen and (max-width: 576px) {
button {
            font-size: 1rem;
        }
    }

button:hover,
.button:focus {
    background: #ffffff;
    transform: scale(0.95) !important;
}

button:disabled {
    background-color: #ccc;
} */

.image-container2 {
    display: flex;
    background-image: url("../images/subirProducto.png");
    background-color: #6B4FA9;
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    object-position: center;
    border-radius: 30px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .image-container2 {
        position: relative;
        display: flex;
        top: 30px;
        margin-top: 0px;
        height: 100%;
        background-size: contain;
        height: 600px;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow-y: hidden!important;

    }
}

@media (max-width: 450px) {
    .image-container2 {
        display: none;
    }
}



button {
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(to bottom, #f1edf1 0%, #ddc5f3 100%);
    color: #33305D;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

button:hover,
.volverMenu:hover {
    transform: translateY(3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.volverMenu, .agregarProducto {
    width: 263px;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(to bottom, #f1edf1 0%, #ddc5f3 100%);
    color: #33305D;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    margin-bottom: 20px;
}