.hamburger {
    display: flex;
    place-items: center;
    align-items: center;
    justify-content: center;
}

.menuButton {
    display: none;
    z-index: 50;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13%;
    color: #090909;
    width: 3rem;
    height: 3rem;
    border-radius: 15px;
    background: #e8e8e88f;
    border: 1px solid #ffffff;
    transition: all .3s;
    background-color: rgba(255, 255, 255, 0.829);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.274);
    backdrop-filter: blur(8px);
    box-shadow: 2px 2px 10px #3030302a,
        -2px -2px 10px #ffffff3b;
    position: fixed;
    right: 50px;
    top: 50px;
}

@media only screen and (max-width: 768px) {
    .menuButton {
        display: flex;
        right: 25px;
        top: 30px;
    }
}

.menuButton:hover {
    border: 1px solid rgba(255, 255, 255, 0.671);
}

.menuButton:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;
}

input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.menuButton span {
    width: 25px;
    height: 3px;
    background: rgb(125, 46, 136);
    border-radius: 100px;
    transition: 0.3s ease;
}

input[type="checkbox"]:checked~span.top {
    transform: translateY(290%) rotate(45deg);
    width: 30px;
}

input[type="checkbox"]:checked~span.bot {
    transform: translateY(-270%) rotate(-45deg);
    width: 30px;
    box-shadow: 0 0 10px #495057;
}

input[type="checkbox"]:checked~span.mid {
    transform: translateX(-20px);
    opacity: 0;
}

.mobile-navigation {
    display: flex;
    opacity: 0;
    visibility: hidden;
    z-index: 60;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    color: rgba(255, 255, 255, 0.753);
    font-weight: 500;
    gap: 10px;
    font-size: 1.3rem;
    background-color: #21062cdc;
    backdrop-filter: blur(7px);
    border-radius: 30px;
    border: 2px solid;
    border-color: #e9dcf1;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease-out;
}

@media only screen and (max-width: 768px) {
    .mobile-navigation {
        width: 70vw;
    }
}

@media only screen and (max-width: 576px) {
    .mobile-navigation {
        width: 90vw;
    }
}

.mobile-navigation .nav-link {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link.active {
    color: #D9BD59;
}

.menuButton.is-active {
    transform: rotate(45deg);
    color: #495057;
}

.menuButton.is-active span.top {
    transform: translateY(-290%) rotate(45deg);
    width: 40px;
}

.menuButton.is-active span.bot {
    transform: translateY(270%) rotate(-45deg);
    width: 40px;
}

.mobile-navigation.is-active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
}