.card {
  font-family: "Quicksand", sans-serif;
  border-radius: 1.25rem;
  padding: 1rem;
  display: flex;
  width: 100%;
  font-size: 5rem;
  justify-content: center;
  align-items: center;
}

.loader {
  color: rgb(2, 2, 2);
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 130px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}


@media only screen and (max-width: 1200px) {

  .loader,
  .card {
    height: 80px;
    font-size: 3rem;
  }
}


.words {
  overflow: hidden;
  position: relative;
  font-size: 5rem;
}

@media only screen and (max-width: 1200px) {
  .word {
    height: 80px;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 600px) {

  .loader,
  .card {
    height: 130px;
    flex-direction: column;
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .word {
    margin-left: 14px;
    left: 50opx;
    height: 110px;
    flex-direction: column;
    font-size: 2.5rem;
  }
}

.words::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #6B4FA9;
  animation: spin_4991 4s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}